.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -10;
  background-image:
    linear-gradient(to right, var(--grid-foreground) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-foreground) 1px, transparent 1px);
  background-size: 50px 50px;
  background-color: var(--grid-background);
  animation: gridSlideUp 10s linear infinite;
}

@keyframes gridSlideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
